body{
    font-size: 12px;
    font-family: Arial;
}
.top{
    height: 35px;
    background-color: #f2f2f2;
    line-height: 35px;
    padding-left: 410px;
    padding-right: 410px;
    border-bottom:1px solid  #e7e7e7;

}
nav.top span, nav.top a{
    color: #999;
    margin: 0px 0px 0px 15px;
}
.redColor{
    color: #C40000 !important;
}
nav.top a:hover{
    color: #C40000;
    text-decoration: none;
}

.search-div{
    background-color: #C40000;
    width: 400px;
    margin: 40px auto;
    height: 40px;
    padding: 2px;
    display: block;

}

.search-div input{
    width: 275px;
    height: 36px;
    border: 1px solid transparent;
    outline: none;
}
.search-div button{
    width: 110px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.search-div .search-below{
    margin-top: 10px;

}
.search-div .search-below span,.search-div .search-below span a{
    color: #999;
    padding: 6px;
}
.logo{
    position: absolute;
    left: 420px;
    top: 35px;
    z-index: -1;
}
.search-div .search-below span a:hover{
    text-decoration: none;
    color: #C40000;
}
.simpleSearchDiv{
    width: 800px;
    margin: 35px auto;
}